@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700,300italic,400italic,700italic);
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	padding: 150px 0px;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}
.listing {
	width: 250px;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	max-height: 700px;
	margin: 25px;
	color: rgb(159, 159, 169);
}
.listing img {
	width: 250px;
	height: 250px;
	display: block;
	margin: 0 auto;
}
.listing h2 {
	text-align: center;
	margin-bottom: 50px;
	text-transform: uppercase;
}
.listing h3 {
	font-size: 16px;
	margin: 25px 0px;
	padding: 25px 0px;
	text-transform: uppercase;
	border-top: 1px solid rgb(159, 159, 169);
	border-bottom: 1px solid rgb(159, 159, 169);
	height: 150px;

}
