*, *:before, *:after {
	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
}

@font-face {
	font-family: 'geosanslight-nmsregular';
	src: url('../assets/fonts/geonms-webfont.eot');
	src: url('../assets/fonts/geonms-webfont-.eot#iefix') format('embedded-opentype'),
		 url('../assets/fonts/geonms-webfont.woff') format('woff'),
		 url('../assets/fonts/geonms-webfont.ttf') format('truetype'),
		 url('../assets/fonts/geonms-webfont.svg#geosanslight-nmsregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	margin: 0;
}
img {
	max-width: 100%;
	max-height: 100%;
}
h1 {
	font-family: geosanslight-nmsregular;
	text-transform: uppercase;	
	text-align: center;
	font-size: 8em;
	font-weight: lighter;
	padding-top: 460px;
}
h3 {
	font-family: geosanslight-nmsregular;
	text-transform: uppercase;
	text-align: center;
}
p {
	font-size: 1.6em;
	width: 70%;
	padding: 10px auto;
}
a{
	color: rgb(100, 173, 172);
}
ul li {
	list-style: none;
}
.ill01{
	background: url('../img/nomanvid.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height: 1080px;
	margin-bottom: 50px;
}
.ill02 {
	margin-bottom: 50px;
}
.ill02 ul{
	padding: 0px;
	font-size: 0px;
	text-align: center; 
}
.ill02 li {
	display: inline-block;
	width: 25%;
	height: 400px;
}
.ill02 li:nth-child(1){
	background: url('../img/set1/crystal.gif');
	background-size: cover;
}
.ill02 li:nth-child(2){
	background: url('../img/set1/polytronic.gif');
	background-size: cover;
}
.ill02 li:nth-child(3){
	background: url('../img/set1/retro_break.gif');
	background-size: cover;
}
.ill02 li:nth-child(4){
	background: url('../img/set1/waves_final.gif');
	background-size: cover;
}
.ill03{
	background: url('../img/sunset.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height: 1080px;
	margin: 50px 0;	
}
.tiles ul{
	padding: 0px;
	font-size: 0px;
	text-align: center; 
}
.tiles li {
	display: inline-block;
	width: 25%;
	height: 400px;
}
.tiles li:nth-child(1){
	background: url('../img/set2/return_of_the_triangle3.gif');
	background-size: cover;
}
.tiles li:nth-child(2){
	background: url('../img/set2/tri_heart2.gif');
	background-size: cover;
}
.tiles li:nth-child(3){
	background: url('../img/set2/tri_slice.gif');
	background-size: cover;
}
.tiles li:nth-child(4){
	background: url('../img/set2/trigon.gif');
	background-size: cover;
}
footer{
	background-color: rgb(100, 173, 172);
	height: 120px;
	text-align: center;
	font-family: geosanslight-nmsregular;
	color: white;
}
footer p{
	vertical-align: middle;
	padding-top: 25px;
}
footer a{
	text-decoration: none;
	color: white;
}